<header class="userProfile">
 	<div>
		<p>¡Bienvenido !</p>
		{{#if user.first_name}}<p><span class="bold">Nombre: </span>{{user.first_name}}</p>{{/if}}
		<p><span class="bold">Edad: </span>{{user.age}}</p>
		{{#if user.email}}<p><span class="bold">Email: </span>{{user.email}}</p>{{/if}}
		<p><span class="bold">Rol: </span>{{ user.role}}</p>
	</div>

   	<a href="/home" >Home</a>
   	<a href="/products" >Productos</a>
    <a href="/logout" class="logout">Salir</a>
</header>


<section class="productsContainer">
	{{#if noProducts}}
	<h1>Carrito vacio</h1>
	<a href="/products">Volver</a>
	{{else}}
	<h1>Carrito</h1>
	<table id="productos" class="tablehome">
		<tr>
			<th>Producto</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Code</th>
			<th>Precio</th>
			<th>Status</th>
			<th>Categoria</th>
			<th>Cantidad</th>
		</tr>

		{{#each productsInCart}}
		<tr>
			<td><img src="{{this.product.thumbnails}}" id="img-cart" alt=""></td>
			<td>{{this.product.title}}</td>
			<td>{{this.product.description}}</td>
			<td>{{this.product.code}}</td>
			<td>${{this.product.price}}</td>
			<td>{{this.product.status}}</td>
			<td>{{this.product.category}}</td>
			<td>{{this.quantity}}</td>
		</tr>
		{{/each}}
  	</table>

   <div class="totals">
        <p><span class="bold">Cantidad total: </span>{{totalQuantity}}</p>
        <p><span class="bold">Precio total: </span>${{totalPrice}}</p>
    </div>

   <div class="buttonsCart">
        <button id="deleteCartButton" data-cart-id="{{user.cart}}" class="button delete">Eliminar</button>
         <button class="button checkout" id="checkoutButton" data-cart-id="{{user.cart}}">Ir a pagar</button>
    </div>
    {{/if}}
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>