
<header class="userProfile">
 	<div>
		<p>¡Bienvenido !</p>
		<p><span class="bold">Nombre:</span>{{user.firts_name}}</p>
		<p><span class="bold">Edad: </span>{{user.age}}</p>
		{{#if user.email}}<p><span class="bold">Email: </span>{{user.email}}</p>{{/if}}
		<p><span class="bold">Rol: </span>{{ user.role}}</p>
	</div>
   
   
    
   	<a href="/home" >Home</a>
	<a href="/realtimeproducts" >Inventario</a>
    <a href="/carts/{{user.cart}}" >Carrito</a>
    <a href="/logout" class="logout">Salir</a>
</header>

<h1 id="lista">Lista de Productos</h1>
<section class="productsContainer">
    {{#if noProducts}}
    <p>No hay productos disponibles</p>
    {{else}}
    <table id="productos" class="table">
        <tr>
            <th>Nombre</th>
			<th>Stock</th>
            <th>Status</th>
            <th >Detalles del producto</th>
        </tr>

        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.stock}}</td>
            {{#if this.status}}
            <td>Disponible</td>
            {{else}}
            <td>No disponible</td>
            {{/if}}
            <td>
                <div class="productOptions">
                    <a href="products/{{this._id}}"id="detail">{{this.title}}</i></a>
                </div>
            </td>
				
        </tr>
        {{/each}}
    </table>
	{{/if}}
  <article class="pagination">
        <p>Pagina {{productsData.page}} de {{productsData.totalPages}}</p>
        <div class="linksContainer">
            {{#if productsData.hasPrevPage}}
            <a href="{{generatePaginationLink productsData.prevPage}}">Pag anterior</a>
            {{/if}}
            {{#if productsData.hasNextPage}}
            <a href="{{generatePaginationLink productsData.nextPage}}">Pag siguiente</a>
            {{/if}}
        </div>
    </article>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>