<header class="userProfile">
    <div>
        <p>¡Bienvenido!</p>
        {{#if user.first_name}}<p><span class="bold">Nombre: </span>{{user.first_name}}</p>{{/if}}
        {{#if user.email}} <p><span class="bold">Email: </span>{{user.email}}</p> {{/if}}
        <p><span class="bold">Rol: </span>{{user.role}}</p>
    </div>
    {{#if user.admin}}
    <a href="/realtimeproducts" class="bold">Inventario</a>
    {{/if}}
    <a href="/carts/{{user.cart}}" class="bold">Carrito</a>
    <a href="/logout" class="logout">Salir</a>
</header>


<section class="productDetailContainer">
    <h1 class="title-detail">Detalles del Producto</h1>
    <article>
        <h3>{{product.title}}</h3>
        <p><span class="bold">Id: </span>{{product._id}}</p>
        <p><span class="bold">Descripcion: </span>{{product.description}}</p>
        <p><span class="bold">Code: </span>{{product.code}}</p>
        <p><span class="bold">Precio: </span>${{product.price}}</p>
        <p><span class="bold">Stock: </span>{{product.stock}}</p>
        <p><span class="bold">Categoria: </span>{{product.category}}</p>
        <p><span class="bold">Status: </span>
          {{#if product.stock}}
            Disponible </p>
         <button class="addToCartButton" data-cart-id="{{user.cart}}" data-product-id="{{product._id}}">
            Agregar al carrito</button>
        {{else}}
        No Disponible
        </p>
        {{/if}}
    </article>
	<a href="/products">Volver</a>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productDetails.js"></script>