<header class="userProfile">
 	<div>
		<a href="/home" class="name-hype">HYPE SNEAKERS</a>
		<p><span class="bold">Nombre: </span>{{user.first_name}}</p>
		<p><span class="bold">Rol: </span>{{ user.role}}</p>
	</div>
   	<a href="/home">Home</a>
	{{#if user.admin}}
	<a href="/realtimeproducts" >Inventario</a>
	{{/if}}
    <a href="/carts/{{user.cart}}" >Carrito</a>
    <a href="/logout" class="logout">Salir</a>
</header>



<h1 id="lista">Lista de Productos</h1>
<section class="productsContainer">
    {{#if noProducts}}
    <p>No hay productos disponibles</p>
    {{else}}
	
    <table id="productos" class="table">
        <tr>
            <th>Nombre</th>
			<th>Stock</th>
            <th>Status</th>
            <th>Producto</th>
        </tr>

        {{#each products}}
        <tr>
            <td> 
				<div class="productOptions">
                    <a href="products/{{this._id}}"id="detail">{{this.title}}</a>
                </div>
			</td>
            <td>{{this.stock}}</td>
            {{#if this.status}}
            <td>Disponible</td>
            {{else}}
            <td>No disponible</td>
            {{/if}}
           <td><a href="products/{{this._id}}"><img src="{{this.thumbnails}}" alt=""></a></td>
        </tr>
        {{/each}}
    </table>
	{{/if}}
<article class="pagination">
    <p>Pagina {{productsData.page}} de {{productsData.totalPages}}</p>
    <div class="linksContainer">
	{{#if productsData.hasNextPage}}
    <a href="{{generatePaginationLink productsData.nextPage}}" class="bold">siguiente</a>
    	{{/if}}
    {{#if productsData.hasPrevPage}}
    <a href="{{generatePaginationLink productsData.prevPage}}" class="bold">anterior</a>
    	{{/if}}
     
    </div>
  </article>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>