<header class="userProfile">
    <div>
        <p>¡Bienvenido!</p>
        {{#if user.first_name}}<p><span class="bold">Nombre: </span>{{user.first_name}}</p>{{/if}}
        {{#if user.email}} <p><span class="bold">Email: </span>{{user.email}}</p> {{/if}}
        <p><span class="bold">Rol: </span>{{user.role}}</p>
    </div>
    {{#if user.admin}}
    <a href="/realtimeproducts" class="bold">Inventario</a>
    {{/if}}
    <a href="/carts/{{user.cart}}" id="carrito"></a>
    <a href="/logout" class="logout">Salir</a>
</header>


    <h1 class="title-detail">Detalles del Producto</h1>
<section class="productDetailContainer">
    <article>
		<img src="{{product.thumbnails}}" alt="productos" id="img-prod" >
		<div class="prod-detail">
        <h3 id="name-prod">{{product.title}}</h3>
        <p><span class="bold">Id: </span>{{product._id}}</p>
        <p><span class="bold">Descripcion: </span>{{product.description}}</p>
        <p><span class="bold">Code: </span>{{product.code}}</p>
        <p><span class="bold">Precio: </span>${{product.price}}</p>
        <p><span class="bold">Stock: </span>{{product.stock}}</p>
        <p><span class="bold">Categoria: </span>{{product.category}}</p>
        <p><span class="bold">Status: </span>
          {{#if product.stock}}
            Disponible </p>
			   <button class="addToCartButton" data-user-id="{{user.userId}}" data-cart-id="{{user.cart}}" data-product-id="{{product._id}}">
		   		Agregar al carro
		   </button>
		   <a href="/products" id="volver-atras">Regresar</a>
		</div>
        {{else}}
        No Disponible
        </p>	
    {{/if}}
		
    </article>
</section>
	

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productDetails.js"></script>